<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mmko.dao.ICategoryDao">

    <resultMap id="DataMap" type="cn.mmko.po.CategoryPo">
         <id column="category_id" property="categoryId"/>
        <result column="user_id" property="userId"/>
        <result column="category_name" property="categoryName"/>
        <result column="category_sort" property="categorySort"/>
        <result column="parent_id" property="parentId"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <select id="queryCategory" resultMap="DataMap" parameterType="cn.mmko.dto.CategoryDTO">
        select user_id, category_name,parent_id
        from t_category
        where user_id = #{userId} and category_name = #{categoryName} and parent_id = #{parentId}
    </select>

    <insert id="insertCategory" parameterType="cn.mmko.po.CategoryPo">
        insert into  t_category(user_id, category_name, category_sort,parent_id)
        values(#{userId}, #{categoryName}, #{categorySort} ,#{parentId})
    </insert>
    <select id="getMaxCategorySort" resultType="java.lang.Integer" parameterType="cn.mmko.dto.CategoryDTO">
        select max(category_sort)
            from t_category
        where user_id = #{userId} and parent_id = #{parentId}

    </select>
</mapper>