<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mmko.dao.ICustomerDao">
    <insert id="insertCustomer" parameterType="long">
        insert into t_customer(user_id) values(#{userId})
    </insert>
    <insert id="upsertAvatar">
        insert into t_customer(customer_id,avatar_url) values(#{userId},#{avatarUrl})
        on duplicate key update avatar_url = #{avatarUrl}
    </insert>
    <update id="updateCustomer" >
        update  t_customer
        set nickname = #{nickname},gender = #{gender},birthday = #{birthday},address = #{address},avatar_url = #{avatarUrl}
        where customer_id = #{userId}
    </update>


    <select id="queryUserByUserId" resultType="cn.mmko.po.CustomerPo" parameterType="long">
        select nickname,gender,birthday,address,avatar_url
        from t_customer
        where customer_id = #{userId}
    </select>
    <select id="queryCustomerIdByUserId" resultType="java.lang.Long">
        select customer_id
        from t_customer
        where user_id = #{userId}
    </select>
    <select id="queryCustomerByFilter" resultType="cn.mmko.vo.CustomerManageListVO">
        select
            c.customer_id,
            c.user_id,
            u.username,
            c.nickname,
            c.gender,
            c.birthday,
            c.address,
            c.avatar_url,
            c.create_time,
            c.update_time,
            u.user_status as status,
            u.last_login_time
        from t_customer c
        left join t_user u on c.user_id = u.user_id
        <where>
         1=1
        <if test="status!=null">
            and u.user_status = #{ status}
        </if>
        <if test="keyword!=null">
            and (c.nickname like concat('%',#{keyword},'%') or u.username like concat('%',#{keyword},'%'))
        </if>
       </where>
    </select>


</mapper>