<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mmko.dao.IOrderDao">


    <insert id="insertOrder">
        insert into t_order(order_id,user_id,order_status,total_amount,create_time)
        values(#{orderId},#{userId},#{orderStatus},#{totalAmount},now())
    </insert>
    <update id="updateOrderPaySuccess">
        update t_order set order_status=1,pay_time=now() where order_id=#{orderId}
    </update>
    <update id="updateOrderClose">
        update t_order set order_status=5,finish_time=now() where order_id=#{orderId}
    </update>
    <update id="updateOrderStatus">
        update t_order set order_status=#{orderStatus} where order_id=#{orderId}
    </update>
    <select id="queryUnpaidOrder" resultType="cn.mmko.po.OrderPo">
        select order_id,user_id,seller_id,product_id,order_status,total_amount,create_time
        from t_order
        where  order_status=0 and now()>=create_time+ interval 15 minute order by order_id asc
        limit 50
    </select>
    <select id="queryTimeoutOrderList" resultType="java.lang.String">
        select order_id
        from t_order
        where order_status=0 and now()>=create_time+ interval 15 minute order by order_id asc
            limit 50
    </select>
    <select id="queryOrderNumber" resultType="cn.mmko.vo.OrderNumberVO">
        SELECT
            SUM(CASE WHEN order_status = 0 THEN 1 ELSE 0 END) AS UnpaidOrderNumber,
            SUM(CASE WHEN order_status in (1,2) THEN 1 ELSE 0 END) AS WaitingForDeliveryOrderNumber,
            SUM(CASE WHEN order_status = 3 THEN 1 ELSE 0 END) AS WaitingForReceiptOrderNumber,
            SUM(CASE WHEN order_status = 4 THEN 1 ELSE 0 END) AS CompletedOrderNumber,
            SUM(CASE WHEN order_status = 5 THEN 1 ELSE 0 END) AS CanceledOrderNumber
        FROM
            t_order
        WHERE
            user_id = #{userId}
    </select>
    <select id="queryOrderList" resultType="cn.mmko.po.OrderPo">
        select order_id,user_id,order_status,total_amount,create_time,pay_time,delivery_time,finish_time
        from t_order
        where user_id=#{userId}
        <if test="status==0">
            and order_status=0
        </if>
        <if test="status==1">
            and (order_status=1 or order_status=2)
        </if>
        <if test="status==3">
            and order_status=3
        </if>
        <if test="status==4">
            and order_status=4
        </if>
        <if test="status==5">
            and order_status=5
        </if>
        order by create_time  desc

    </select>
    <select id="queryOrderById" resultType="cn.mmko.po.OrderPo">
        select * from t_order where order_id=#{orderId}
    </select>
</mapper>